doctype html
html(lang='en')
  head
    title = 'Danny van der Jagt'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='./css/main.css' rel='stylesheet' type='text/css')
  body
    #content
      #icon
        a(href='http://www.dannyvanderjagt.nl')
          img(src='http://37.139.27.240:8001/images/icon.svg')
      #name
        img(src='http://37.139.27.240:8001/images/name.svg')
      #description
        .line
        .text.main
          |<b>Hello!</b> I am a javascript developer who is interested in everything from front-end to back-end and IOT. I am also a hobby photographer and windsurfer. 
        .line
        .text.sub
          |I love to create, do things with passion and work with people
        .line
      #links
        a(href='https://github.com/DannyvanderJagt' target='_blank')
          img(src='http://37.139.27.240:8001/images/github.svg')
        a(href='https://twitter.com/DannyvanderJagt' target='_blank')
          img(src='http://37.139.27.240:8001/images/twitter.svg')
        a(href='http://codepen.io/thesuitcase/' target='_blank')
          img(src='http://37.139.27.240:8001/images/codepen.svg')
        a(href='https://500px.com/dannyvanderjagt' target='_blank')
          img(src='http://37.139.27.240:8001/images/500px.svg')
        a(href='https://www.linkedin.com/in/danny-van-der-jagt-22854858' target='_blank')
          img(src='http://37.139.27.240:8001/images/linkedin.svg')
        a(href='https://medium.com/@DannyvanderJagt' target='_blank')
          img(src='http://37.139.27.240:8001/images/medium.svg')
      
    
    #background
    